[Unit]
Description=Worktime Service
After=syslog.target
After=network.target
#After=mysqld.service
#After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
Type=simple
User=rmutsv
Group=rmutsv
WorkingDirectory=/home/rmutsv
ExecStart=/usr/bin/worktime work
Restart=always
Environment=USER=rmutsv HOME=/home/rmutsv

[Install]
WantedBy=multi-user.target
